<!-- src/main/resources/templates/event-form.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schedule Form</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/team-form">Sports Scheduler</a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/team-form">Team Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team-details">Team Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/event-details">Event Details</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <h2>Schedule Form</h2>
    <form action="#" method="post" th:action="@{/event-form}" th:object="${scheduleEvent}">
        <div class="form-group">
            <label for="team">Team:</label>
            <select class="form-control" id="team" name="team.id" required th:field="*{team}">
                <option th:each="team : ${teams}" th:text="${team.teamName}" th:value="${team.id}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="eventName">Event Name:</label>
            <input class="form-control" id="eventName" name="eventName" required th:field="*{eventName}" type="text">
        </div>
        <div class="form-group">
            <label for="sports">Sports:</label>
            <input class="form-control" id="sports" name="sports" required th:field="*{sports}" type="text">
        </div>
        <div class="form-group">
            <label for="eventStartDateTime">Event Start Date and Time:</label>
            <input class="form-control" id="eventStartDateTime" name="eventStartDateTime"
                   required th:field="*{eventStartDateTime}" type="datetime-local">
        </div>
        <!-- Display error alert if duplicate team name -->
        <div class="alert alert-danger" th:if="${#request.getParameter('error') == 'duplicate'}">
            Event end date should not be before event start date.
        </div>
        <div class="form-group">
            <label for="eventEndDateTime">Event End Date and Time:</label>
            <input class="form-control" id="eventEndDateTime" name="eventEndDateTime" required
                   th:field="*{eventEndDateTime}" type="datetime-local">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
</body>
</html>
