<!-- src/main/resources/templates/event-form.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schedule Event Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Sports Scheduler</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/team-form">Team Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team-details">Team Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/event-details">Event Details</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <h2>Schedule Event Form</h2>
    <form action="#" th:action="@{/event-form}" th:object="${scheduleEvent}" method="post">
        <div class="form-group">
            <label for="team">Team:</label>
            <select id="team" name="team.id" th:field="*{team}" class="form-control" required>
                <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.teamName}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="eventName">Event Name:</label>
            <input type="text" id="eventName" name="eventName" th:field="*{eventName}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="sports">Sports:</label>
            <input type="text" id="sports" name="sports" th:field="*{sports}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="eventStartDateTime">Event Start Date and Time:</label>
            <input type="datetime-local" id="eventStartDateTime" name="eventStartDateTime" th:field="*{eventStartDateTime}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="eventEndDateTime">Event End Date and Time:</label>
            <input type="datetime-local" id="eventEndDateTime" name="eventEndDateTime" th:field="*{eventEndDateTime}" class="form-control" required>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</div>
</body>

</html>
